body{
	margin: 0;
}

.Aleo-light {
	font-family: 'Aleo-light';
}

h1 { font-family: 'Aleo-Bold' }
h2 { font-family: 'Museo-Sans-300'}
h3 {font-family: 'Museo-Sans-700'}



.banner{
	background: url(images/burgers.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 634px;
}

.logo{
	height: 100%;
	width: 35%;
	margin: auto;
	font-family: 'Aleo-Regular';
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 25%;
}
  /* ——————————————————————————    FONTS   —————————————————————————*/

  /* ——————————————————————————    Aleo   —————————————————————————*/

@font-face {
    font-family: 'Aleo-Regular';
    src: url('fonts/Webfont%20Kit/Regular/aleo-regular-webfont.eot'); /* IE9 Compat Modes */
    /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS */
    src: url('fonts/Webfont%20Kit/Regular/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'), 
        url('fonts/Webfont%20Kit/Regular/aleo-regular-webfont.woff') format('woff'), 
        url('fonts/Webfont%20Kit/Regular/aleo-regular-webfont.ttf')  format('truetype'), 
        url('fonts/Webfont%20Kit/Regular/aleo-regular-webfont.svg') format('svg'); /* Legacy iOS */               
    font-style:   normal;
    font-weight:  normal;
}

@font-face {
    font-family: 'Aleo-Bold';
    src: url('fonts/Webfont%20Kit/Bold/aleo-bold-webfont.eot'); /* IE9 Compat Modes */
    /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS */
    src: url('fonts/Webfont%20Kit/Bold/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'), 
        url('fonts/Webfont%20Kit/Bold/aleo-bold-webfont.woff') format('woff'), 
        url('fonts/Webfont%20Kit/Bold/aleo-bold-webfont.ttf')  format('truetype'), 
        url('fonts/Webfont%20Kit/Bold/aleo-bold-webfont.svg') format('svg'); /* Legacy iOS */               
    font-style:   normal;
    font-weight:  normal;
}

@font-face{
	font-family: 'Aleo-Regular-Italic';
 	src: url('fonts/Webfont%20Kit/Regular Italic/aleo-italic-webfont.eot'); /* IE9 Compat Modes */
    /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS */
    src: url('fonts/Webfont%20Kit/Regular Italic/aleo-italic-webfont.eot?#iefix') format('embedded-opentype'), 
        url('fonts/Webfont%20Kit/Regular Italic/aleo-italic-webfont.woff') format('woff'), 
        url('fonts/Webfont%20Kit/Regular Italic/aleo-italic-webfont.ttf')  format('truetype'), 
        url('fonts/Webfont%20Kit/Regular Italic/aleo-italic-webfont.svg') format('svg'); /* Legacy iOS */               
    font-style:   normal;
    font-weight:  normal;

}

@font-face {
    font-family: 'Aleo-Bold-Italic';
    src: url('fonts/Webfont%20Kit/Bold Italic/aleo-bolditalic-webfont.eot'); /* IE9 Compat Modes */
    /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS */
    src: url('fonts/Webfont%20Kit/Bold Italic/aleo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), 
        url('fonts/Webfont%20Kit/Bold Italic/aleo-bolditalic-webfont.woff') format('woff'), 
        url('fonts/Webfont%20Kit/Bold Italic/aleo-bolditalic-webfont.ttf')  format('truetype'), 
        url('fonts/Webfont%20Kit/Bold Italic/aleo-bolditalic-webfont.svg') format('svg'); /* Legacy iOS */               
    font-style:   normal;
    font-weight:  normal;
}

@font-face{
	font-family: 'Aleo-Light';
 	src: url('fonts/Webfont%20Kit/Light/aleo-light-webfont.eot'); /* IE9 Compat Modes */
    /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS */
    src: url('fonts/Webfont%20Kit/Light/aleo-light-webfont.eot?#iefix') format('embedded-opentype'), 
        url('fonts/Webfont%20Kit/Light/aleo-light-webfont.woff') format('woff'), 
        url('fonts/Webfont%20Kit/Light/aleo-light-webfont.ttf')  format('truetype'), 
        url('fonts/Webfont%20Kit/Light/aleo-light-webfont.svg') format('svg'); /* Legacy iOS */               
    font-style:   normal;
    font-weight:  normal;
}

@font-face{
	font-family: 'Aleo-Italic-Light';
 	src: url('fonts/Webfont%20Kit/Light Italic/aleo-lightitalic-webfont.eot'); /* IE9 Compat Modes */
    /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS */
    src: url('fonts/Webfont%20Kit/Light Italic/aleo-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), 
        url('fonts/Webfont%20Kit/Light Italic/aleo-lightitalic-webfont.woff') format('woff'), 
        url('fonts/Webfont%20Kit/Light Italic/aleo-lightitalic-webfont.ttf')  format('truetype'), 
        url('fonts/Webfont%20Kit/Light Italic/aleo-lightitalic-webfont.svg') format('svg'); /* Legacy iOS */               
    font-style:   normal;
    font-weight:  normal;
}
  /* ——————————————————————————    Museo Sans   —————————————————————————*/

  @font-face{
    font-family: 'Museo-Sans-300';
    src: url('fonts/Webfont%20Kit/MuseoSans 300/museo300-regular.eot'); /* IE9 Compat Modes */
    /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS */
    src: url('fonts/Webfont%20Kit/MuseoSans 300/museo300-regular.eot?#iefix') format('embedded-opentype'), 
        url('fonts/Webfont%20Kit/MuseoSans 300/museo300-regular.woff') format('woff'), 
        url('fonts/Webfont%20Kit/MuseoSans 300/museo300-regular.ttf')  format('truetype'), 
        url('fonts/Webfont%20Kit/MuseoSans 300/museo300-regular.svg') format('svg'); /* Не нашол Legacy iOS */               
    font-style:   normal;
    font-weight:  normal;
}

@font-face{
    font-family: 'Museo-Sans-500';
    src: url('fonts/Webfont%20Kit/MuseoSans 500/MuseoSans_500-webfont.eot'); /* IE9 Compat Modes */
    /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS */
    src: url('fonts/Webfont%20Kit/MuseoSans 500/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'), 
        url('fonts/Webfont%20Kit/MuseoSans 500/MuseoSans_500-webfont.woff') format('woff'), 
        url('fonts/Webfont%20Kit/MuseoSans 500/MuseoSans_500-webfont.ttf')  format('truetype'), 
        url('fonts/Webfont%20Kit/MuseoSans 500/MuseoSans_500-webfont.svg') format('svg'); /* Legacy iOS */               
    font-style:   normal;
    font-weight:  normal;
}

@font-face{
    font-family: 'Museo-Sans-700';
    src: url('fonts/Webfont%20Kit/MuseoSans 700/museosans_700-webfont.eot'); /* IE9 Compat Modes */
    /* IE6-IE8 *//* Modern Browsers *//* Safari, Android, iOS */
    src: url('fonts/Webfont%20Kit/MuseoSans 700/museosans_700-webfont.eot?#iefix') format('embedded-opentype'), 
        url('fonts/Webfont%20Kit/MuseoSans 700/museosans_700-webfont.woff') format('woff'), 
        url('fonts/Webfont%20Kit/MuseoSans 700/museosans_700-webfont.ttf')  format('truetype'), 
        url('fonts/Webfont%20Kit/MuseoSans 700/museosans_700-webfont.svg') format('svg'); /* Не нашол Legacy iOS */               
    font-style:   normal;
    font-weight:  normal;
}
